.event {
  color: #444;
  margin: .2em;
  padding: .5em;
  background-color: #DDD;
  min-width: 15em;
  flex-grow: 1;
}

.event > .caption {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: .4em;
  border-bottom: 1px solid #CCC;
}

.event .link {
  color: rgba(0, 120, 185, 0.94);
}

.participants-list {
  margin: 0.2em 0;

}

.participants-list > .participant {
  margin: 0.1em;
  padding: 0.1em 0.3em;
  border: 1px solid #888;
}

.participants-list > .participant:nth-child(1) {
  margin-left: 0em;
}

.parts-input {
  max-width: 3em;
}
