
.app-header {
  display: flex;
  flex-wrap: nowrap;
  font-size: 16px;
  background-color: #222;
  padding: 0.2rem 0.6rem;
  color: #eee;
}

.app-header > .menu {
  margin: auto 0;
  margin-left: auto;
}

.app-header a {
  text-decoration: none;
  color: #eee;

}

.app-header * {
  align-self: center;
}

.header-button {
  background: #666;
  padding: 0.5em;
  margin: 0 1em;
}

.header-button:hover {
  background: #777;
}
